## 锔 An谩lisis de Clientes y Vuelos de la Aerol铆nea  

Objetivo  

**En este an谩lisis exploraremos los datos de clientes inscritos en una membres铆a de aerol铆nea y sus vuelos.**

  **Realizaremos limpieza, visualizaci贸n y evaluaci贸n de los datos para obtener insights relevantes.**

# Fase 1: Exploraci贸n y Limpieza

### 0. Importaci贸n de librer铆as

In [17]:
import pandas as pd
import numpy as np
#  1. Configuraci贸n para gesti贸n de nulos
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

#  2. Configurar pandas para ver todas las columnas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#  3. Configuraci贸n para gr谩ficos
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest

In [ ]:
# 1. Cargar el dataset de la informaci贸n de los clientes sin la columna "Unnamed: 0"
df_loyalty = pd.read_csv("Customer_Loyalty_History.csv", index_col=0)
# Vista previa de los datos
display(df_loyalty.head())

,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
Loyalty Number,,,,,,,,,,,,,,,
480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

**Carga y Exploraci贸n Inicial de Datos**

In [ ]:
# 2. Cargar el dataset de la informaci贸n de la actividad de los vuelos de los clientes sin la columna "Unnamed: 0"
df_flight = pd.read_csv("Customer_Flight_Activity.csv", index_col=0)
# Vista previa de los datos
display(df_flight.head())

,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
Loyalty Number,,,,,,,,,
100018,2017,1,3,0,3,1521,152.0,0,0
100102,2017,1,10,4,14,2030,203.0,0,0
100140,2017,1,6,0,6,1200,120.0,0,0
100214,2017,1,0,0,0,0,0.0,0,0
100272,2017,1,0,0,0,0,0.0,0,0

### 1. Exploraci贸n Inicial:
- Realiza una exploraci贸n inicial de los datos para identificar posibles problemas, como valores nulos, at铆picos o datos faltantes en las columnas relevantes
- Utiliza funciones de Pandas para obtener informaci贸n sobre la estructura de los datos, la presencia de valores nulos y estad铆sticas b谩sicas de las columnas involucradas.
- Une los dos conjuntos de datos de la forma m谩s eficiente

*Comenzamos viendo la informaci贸n de el csv de los datos de los clientes:*

In [20]:
print(f"Tama帽o del dataset de clientes: {df_loyalty.shape}")

Tama帽o del dataset de clientes: (16737, 15)

In [21]:
print(f"Tama帽o del dataset de vuelos: {df_flight.shape}")

Tama帽o del dataset de vuelos: (405624, 9)

In [24]:
# Informaci贸n general de variables en dataset de clientes
df_loyalty.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16737 entries, 480934 to 652627
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16737 non-null  object
 1   Province            16737 non-null  object
 2   City                16737 non-null  object
 3   Postal Code         16737 non-null  object
 4   Gender              16737 non-null  object
 5   Education           16737 non-null  object
 6   Salary              12499 non-null  float64
 7   Marital Status      16737 non-null  object
 8   Loyalty Card        16737 non-null  object
 9   CLV                 16737 non-null  float64
 10  Enrollment Type     16737 non-null  object
 11  Enrollment Year     16737 non-null  int64
 12  Enrollment Month    16737 non-null  int64
 13  Cancellation Year   2067 non-null   float64
 14  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(2), object(9)
memory usage: 2.0+ MB

In [25]:
# Informaci贸n general de variables en dataset de vuelos
df_flight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405624 entries, 100018 to 999986
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Year                         405624 non-null  int64
 1   Month                        405624 non-null  int64
 2   Flights Booked               405624 non-null  int64
 3   Flights with Companions      405624 non-null  int64
 4   Total Flights                405624 non-null  int64
 5   Distance                     405624 non-null  int64
 6   Points Accumulated           405624 non-null  float64
 7   Points Redeemed              405624 non-null  int64
 8   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 30.9 MB